.header__title{
    font-family: 'PollerOne', 'Arial', sans-serif;
    font-size: 55px;
    line-height: 85px;
    color: #f15d08fb
}

.header__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.header__link{
    display: block;
    padding: 10px;
    margin: 5px;

    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255 );
    text-decoration: none;
}

.header__login{
    display: inline-block;
    padding: 10px;
    margin: 5px;

    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.header__logo-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo-wrap{
    text-decoration: none;
    color: #ff0000fb;
}

.header__title{
    margin: 0;
}

.header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__menu{
    width: 100%;
    flex-shrink: 0;
}



.header--scroll {
    background-color: #fefefb;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 0;

    list-style: none;
}

.header__item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fd8210;
    text-decoration: none;

    transition: color 0.4s ease-out, text-shadow 0.3s;
}

.header__item-link:hover,
.header__item-link:focus {
    color: #dd8d0e;
}

.header__item-link:active {
    text-shadow: 1px -1px 1px #dd8d0e;
}

.header__item-link--active {
    font-weight: 600;
    color: #3a3c41;

    cursor: default;
}

.header__login {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
    padding: 0;

    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #fdb100;
    border: none;
    background-color: initial;

    cursor: pointer;
}

.header__login::before {
    content: "";

    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;

    border: 1px solid #fdb100;
    border-radius: 50%;
    background-color: #fdb100;
    background-image: url(/images/icon/login.svg);
    background-repeat: no-repeat;
    background-position: center;

    will-change: transform;
    transition: transform 0.4s ease-out;
}

.header__login:hover::before,
.header__login:focus::before {
    transform: scale(1.1);
}