@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
} 
@media only screen and (max-width: 768px) {
    .card__list {
        flex-wrap: wrap;
    }
}  
@media only screen and (max-width: 768px) {
    .menu {
        flex-wrap: wrap;
    }
}  
@media(max-width: 768px){
    .container{
        max-width: 100%;
    }
}
